	#wrapper {
		width: 960px;
		height: 700px;
		background-color: #FF9999;
		margin-left:auto; 
		margin-right:auto; 
	}	
	#header {
		width: 960px;
		height: 100px;
		background-color: #FF9900;
		margin-left:auto; 
		margin-right:auto; 
	}
	#content {
		width: 960px;
		height: 600px;
		background-color: #00FF99;
			
	}